import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

importing the data

In [2]:
data= pd.read_csv("1.01.+simple+linear+regression.csv")
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [3]:
x = data['SAT']
y = data['GPA']

In [4]:
x.shape

(84,)

In [5]:
y.shape

(84,)

changing the dimention of the data

In [6]:
x_matrix = x.values.reshape(-1,1)
x_matrix.shape

(84, 1)

regression itself

In [7]:
reg = LinearRegression()

In [8]:
reg.fit(x_matrix,y)

LinearRegression()

To get R-squared

In [9]:
reg.score(x_matrix,y)

0.40600391479679765

In [10]:
reg.coef_

array([0.00165569])

In [11]:
reg.intercept_

0.275040299660279

In [12]:
new_data= pd.DataFrame(data=[1790,1760],columns=['sat'])
new_data

    sat
0  1790
1  1760

In [13]:
reg.predict(new_data)

array([3.23872191, 3.18905127])

In [ ]:
new_data['predidcted GPA'] = reg.predict(new_data)

In [16]:
new_data

    sat  predidcted GPA
0  1790        3.238722
1  1760        3.189051